<h1>Create New Lens</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form action="/lenses" method="post">
	<label>Name:</label>
	<input type="text" name="name">
	<br>
	<label>Weight:</label>
	<input type="text" name="weight">
	<br>
	<input type="submit" value="Create">
</form>