<h1>Add a new camera bag</h1>
<form action="/bags" method="post">
	<label>Bag Type:</label>
	<input type="text" name="type">
	<br>
	<h2>Cameras:</h2>
	<h3>===Camera 1===</h3>
	<label>Camera Name:</label>
	<input type="text" name="cameras[][name]">
	<br>
	<label>Camera Weight:</label>
	<input type="text" name="cameras[][weight]">
	<br>
	<h3>===Camera 2===</h3>
	<label>Camera Name:</label>
	<input type="text" name="cameras[][name]">
	<br>
	<label>Camera Weight:</label>
	<input type="text" name="cameras[][weight]">
	<br>
	<h2>Lenses:</h2>
	<h3>===Lens 1===</h3>
	<label>Lens Name:</label>
	<input type="text" name="lenses[][name]">
	<label>Lens Weight:</label>
	<input type="text" name="lenses[][weight]">
	<br>
	<h3>===Lens 2===</h3>
	<label>Lens Name:</label>
	<input type="text" name="lenses[][name]">
	<label>Lens Weight:</label>
	<input type="text" name="lenses[][weight]">
	<br>
	<h3>===Lens 3===</h3>
	<label>Lens Name:</label>
	<input type="text" name="lenses[][name]">
	<label>Lens Weight:</label>
	<input type="text" name="lenses[][weight]">
	<br>
	<h3>===Lens 4===</h3>
	<label>Lens Name:</label>
	<input type="text" name="lenses[][name]">
	<label>Lens Weight:</label>
	<input type="text" name="lenses[][weight]">
	<br>
	<input type="submit" value="create bag">
</form>