<h1>Sign up and start organizing your camera bag</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form action="/signup" method="post">
	<label>Username:</label>
	<input type="text" name="username">
	<br>
	<label>Password:(at least 8 characters)</label>
	<input type="text" name="password">
	<br>
	<input type="submit" value="Sign Up">
</form>